{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block 'additional_includes' %}
    <script src="{% static 'style/js/home.js'%}"></script>
{% endblock %}
<h1>todo home page</h1>
<form>
    {% csrf_token %}
    <label for="description">New Item: </label>
    <input id="description" type="text" name="description">
    <input type="submit" onclick="add_todo_item(event)" value="Add Item">
</form>

<div class="items">
    
    {% for item in items %}
        {% include 'partials/todo_item.html' with item_desc=item.description %}
    {% endfor %}

</div>

{% endblock %}